accelerate==1.10.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioredis==2.0.1
aiosignal==1.4.0
aiosqlite==0.21.0
albucore==0.0.24
albumentations==2.0.8
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1756377890817/work
altair==5.5.0
annotated-types==0.7.0
anyio==4.10.0
async-timeout==5.0.1
attrs==25.3.0
av==16.0.1
bcrypt==4.3.0
beautifulsoup4==4.13.5
blinker==1.9.0
bokeh==3.8.0
branca==0.8.1
cachetools==6.1.0
cairocffi==1.7.1
CairoSVG==2.8.2
catboost @ https://pypi.org/packages/cp311/c/catboost/catboost-1.2.8-cp311-cp311-win_amd64.whl#sha256=8985dd217fe79161b05ed251c5f8a18130e2330d5c77559ac91b99b0cf781e6b
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog @ file:///D:/bld/colorlog_1733258429376/work
contourpy @ file:///D:/bld/contourpy_1756544606866/work
cryptography==45.0.6
cssselect2==0.8.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
defusedxml==0.7.1
distro==1.9.0
dnspython==2.7.0
docx2txt==0.9
ecdsa==0.19.1
email-validator==2.3.0
et_xmlfile==2.0.0
faiss==1.9.0
Faker==37.6.0
fakeredis==2.31.0
fastapi==0.116.1
feedparser==6.0.12
filelock @ file:///C:/b/abs_758187j281/croot/filelock_1744281404850/work
Flask==2.3.3
Flask-Cors==4.0.0
folium==0.20.0
fonttools @ file:///D:/bld/fonttools_1756328651195/work
frozenlist==1.7.0
fsspec==2025.7.0
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1749998426524/work
greenlet @ file:///D:/bld/greenlet_1756752070364/work
h11==0.16.0
hdbscan==0.8.40
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
idna==3.10
imbalanced-learn==0.14.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
iniconfig==2.1.0
itsdangerous==2.2.0
jieba==0.42.1
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jiter==0.10.0
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1756467536/work
lightgbm @ file:///D:/bld/liblightgbm_1753280526224/work
lupa==2.5
lxml==6.0.0
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1744317760971/work
markdown-it-py==4.0.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.5
mcp==1.14.1
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
multidict==6.6.4
munkres==1.1.4
narwhals==2.2.0
networkx @ file:///C:/b/abs_6c02vx1ct4/croot/networkx_1756709289161/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=5dfd3e04dc1c2826d3f404fdc7f93c097901f5da9b91f4f394f79d4e038ed81d
openai==1.100.0
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1755580823350/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.1
passlib==1.7.4
patsy==1.0.1
pdfminer.six==20250506
pdfplumber==0.11.7
pillow @ file:///C:/b/abs_68t826txdy/croot/pillow_1744613085333/work
playwright==1.54.0
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1755067229108/work
pluggy==1.6.0
prometheus_client==0.22.1
propcache==0.3.2
protobuf==6.32.1
psutil==7.0.0
psycopg2-binary==2.9.10
pyarrow==21.0.0
pyasn1==0.6.1
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.8.0
pyogrio==0.11.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
PyPDF2==3.0.1
pypdfium2==4.30.0
pyproj==3.7.2
pytest==8.4.1
pytest-asyncio==1.1.0
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-docx==1.2.0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
python-pptx==1.0.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32==311
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
qwen-vl-utils==0.0.14
redis==6.4.0
referencing==0.36.2
regex==2025.7.34
requests==2.32.5
rich==14.1.0
rpds-py==0.27.1
rsa==4.9.1
safetensors==0.6.2
schedule==1.2.2
scikit-learn==1.7.1
scikit-surprise @ file:///D:/bld/scikit-surprise_1716198969954/work
scipy @ file:///C:/b/abs_b9r7ium9ba/croot/scipy_1753384423349/work/dist/scipy-1.16.0-cp311-cp311-win_amd64.whl#sha256=459247d92d6cb0e61ab6ebd1ea2942ae88fffb7d1c024f3b1e8fd9dd9e2ac191
seaborn==0.13.2
sentence-transformers==5.1.0
sgmllib3k==1.0.0
shapely==2.1.1
shellingham==1.5.4
simsimd==6.5.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy @ file:///D:/bld/sqlalchemy_1754983725525/work
sse-starlette==3.0.2
starlette==0.47.2
statsmodels==0.14.5
streamlit==1.49.1
streamlit-folium==0.25.1
stringzilla==3.12.6
svgwrite==1.4.3
sympy @ file:///C:/b/abs_f1v7nwa6vp/croot/sympy_1756713483242/work
tenacity==9.1.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2==1.4.0
tokenizers==0.21.4
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
torch==2.8.0+cu129
torchaudio==2.8.0+cu129
torchvision==0.23.0+cu129
tornado==6.5.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
transformers==4.55.2
typer==0.19.2
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///D:/bld/unicodedata2_1756494467153/work
urllib3==2.5.0
uv==0.8.22
uvicorn==0.35.0
watchdog==6.0.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wordcloud==1.9.4
xgboost @ file:///home/conda/feedstock_root/build_artifacts/xgboost-split_1757348267778/work/python-package
xlsxwriter==3.2.5
xyzservices==2025.4.0
yarl==1.20.1
zhipuai==2.1.5.20250801
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
